@import "~bootstrap/scss/bootstrap.scss";

body{
    background-color: rgba(170, 139, 228, 0.295);
}

.container{
    width: 30rem;
    left: 20rem;
}

.listElements{
    color: gray;
}

.button {
    float: right;
    background-color: white;
    border:white




}